
{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Вход</title>
{% endblock %}


{% block content %}
<div class="row">
    <h3>Вход на сайт</h3>
    <div class="medium-4">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button" type="submit">Войти</button>
    </form>
  </div>
    <br>
    <p><strong>-- или --</strong></p>
    <p><a href="{% url 'social:begin' 'twitter' %}">Войти через Twitter</a></p>
    <p><a href="{% url 'social:begin' 'vk-oauth2' %}">Войти через VK</a></p>  
  </div>
{% endblock %}